<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createAccount</title>
    <link rel="stylesheet" th:href="@{/createAccount.css}">
</head>
<body>

<div class="gradient-border-wrapper">
    <div class="signup-box">
        <h2>Create Account</h2>
        <form th:action="@{/saveAccount}" th:object="${user}" method="post">

            <label for="firstName">First Name</label>
            <input type="text" th:field="*{firstName}" id="firstName" required>

            <label for="lastName">Last Name</label>
            <input type="text" th:field="*{lastName}" id="LastName" required>

            <label for="email">Email</label>
            <input type="email" th:field="*{email}" id="email" required>

            <label for="password">Password</label>
            <input type="password" th:field="*{password}" id="password" required>


            <button type="submit">Sign Up</button>
        </form>

        <p class="already-have-account">
            Already have an account? <a href="/login">Log in</a>
        </p>

    </div>
</div>


</body>
</html>