<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mainPage</title>
    <link rel="stylesheet" th:href="@{/Indexcss.css}">
</head>
<body>


<div>

    <nav class="slide-fade-in-nav">

        <ul class="menu">

            <li class="GiftMe"><a href="#">GiftMe</a></li>
            <li><a href="#">Wishlist</a></li>

            <li>
                <span th:if="${session.user != null}"  class="logged-in-user" th:text="${session.user.firstName}"></span>
                <a th:if="${session.user == null}" href="/saveAccount">Login</a>
            </li>


        </ul>
    </nav>

</div>


</body>
</html>