<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mainPage</title>
    <link rel="stylesheet" th:href="@{/Indexcss.css}">
</head>
<body>


<div>

    <nav class="slide-fade-in-nav">

        <ul class="menu">

            <li class="GiftMe"><a th:href="@{/mainPage}">GiftMe</a></li>
            <li><a th:href="@{/saveWishlist}">Wishlist</a></li>

            <li>
                <span th:if="${session.user != null}"  class="logged-in-user" th:text="${session.user.firstName}"></span>
                <a th:if="${session.user == null}" href="/saveAccount">Login</a>
            </li>


        </ul>
    </nav>

</div>




<div class="image-slider">
    <div class="slider-container">
        <div class="slider-image">
            <img src="/asos.png" alt="Image 1">
        </div>
        <div class="slider-image">
            <img src="/adidas.jpg" alt="Image 2">
        </div>
        <div class="slider-image">
            <img src="/zara.jpg" alt="Image 3">
        </div>
        <div class="slider-image">
            <img src="/nike.jpg" alt="Image 4">
        </div>
        <div class="slider-image">
            <img src="/h&m.png" alt="Image 5">
        </div>
        <div class="slider-image">
            <img src="/under.jpg" alt="Image 6">
        </div>
        <div class="slider-image">
            <img src="/lacoste.png" alt="Image 7">
        </div>
    </div>
</div>


<div class="customer-support-box">
    <p><strong>Customer Support</strong></p>
    <p>Email: <a href="mailto:contact@giftme.gmail">contact@giftme.gmail</a></p>
</div>



</body>
</html>