<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>

<div class="gradient-border-wrapper">
    <div class="signup-box">
        <h2>Login</h2>
        <form action="Index.html" method="POST">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Log In</button>
        </form>

    </div>
</div>

</body>
</html>