<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>wishlist</title>
    <link rel="stylesheet" th:href="@{/wishlist.css}">
</head>
<body>

<nav class="slide-fade-in-nav">

    <ul class="menu">

        <li class="GiftMe"><a th:href="@{/mainPage}">GiftMe</a></li>
        <li><a th:href="@{/saveWishlist}">Wishlist</a></li>

        <li>
            <span th:if="${session.user != null}"  class="logged-in-user" th:text="${session.user.firstName}"></span>
            <a th:if="${session.user == null}" href="/saveAccount">Login</a>
        </li>



    </ul>
</nav>



<div>
    <form th:action="@{/saveWishlist}"  th:object="${wishlist}" method="post">
        <label for="wishlistName">Enter name of the wishlist:</label>
        <input type="text" id="wishlistName" th:field="*{wishlistName}" name="wishlistName" required />
        <button type="submit">Add Wishlist</button>
    </form>
</div>

<div class="wishlist-container">
    <h3>Your Wishlists:</h3>
    <div class="wishlist-boxes">
        <div th:each="wishlist : ${wishlists}" class="wishlist-box">
            <a th:href="@{'/wishlist/' + ${wishlist.id}}" style="text-decoration: none; color: inherit;">
                <span th:text="${wishlist.wishlistName}"></span>
            </a>
        </div>
    </div>
</div>

</body>
</html>